{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
<h1 class=" mt-6 flex flex-row justify-center  mb-4 text-4xl font-bold tracking-tight text-heading md:text-5xl lg:text-6xl">We invest in the Pokemon’s potential</h1>

<div class="container mx-auto p-4">

    <div class="flex justify-between items-center mb-4">
        <div class="text-4xl">Nombres de pokémon : 20</div>
        <a  href="{{ path('app_pokemon_new') }}"
            class=" p-8 text-white text-4xl bg-[#3dc361]    hover:bg-[#ff8904] focus:ring-4 focus:ring-[#ff8904]  rounded">
            Ajouter</a>
    </div>
    <table class="table">
        <tbody>
            {% for pokemon in pokemon %}
            <tr class="flex flex-row flex-nowrap justify-between    items-center bg-[#1E1E1E] text-4xl gap-2 my-8 ">
                <td>{{ pokemon.id }}</td>
                <td>{{ pokemon.name }}</td>
                <td>{{ pokemon.imageUrl }}</td>
                <td>
                    <a class="bg-[#ff8904]    hover:bg-[#3dc361] focus:ring-4 focus:ring-[#3dc361]  rounded"href="{{ path('app_pokemon_show', {'id': pokemon.id}) }}">show</a>
                    <a class="bg-[#3dc361]    hover:bg-[#ff8904] focus:ring-4 focus:ring-[#ff8904]  rounded" href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Test ici avec le bon front-end-->

<div class="container mx-auto p-4">

    <div class="flex justify-between items-center mb-4">
   
    </div>

    <ul class="list-decimal scroll-auto">
        <li class="flex flex-row flex-nowrap justify-between    items-center bg-[#1E1E1E] text-4xl gap-2 my-8 "><p>1</p> Bulbizarre <img class="object-cover w-24"
                src="https://www.pokepedia.fr/images/thumb/e/ef/Bulbizarre-RFVF.png/644px-Bulbizarre-RFVF.png?20141212043325"
                alt="Bulbizarre"> </li>
            
        <li class="flex flex-row flex-nowrap justify-between   items-center bg-[#1E1E1E] text-4xl gap-2 my-8 "><p>2</p> Bulbizarre <img class="object-cover w-24"
                src="https://www.pokepedia.fr/images/thumb/e/ef/Bulbizarre-RFVF.png/644px-Bulbizarre-RFVF.png?20141212043325"
                alt="Bulbizarre"> </li>

    </ul>

</div>


    {% endblock %}