{% extends 'base.html.twig' %}

{% block title %}Pokemon{% endblock %}

{% block body %}
    <h1 class="mt-6 flex flex-row justify-center  mb-4 text-4xl font-bold tracking-tight text-heading md:text-5xl lg:text-6xl">Pokemon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pokemon.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pokemon.name }}</td>
            </tr>
            <tr>
                <th>ImageUrl</th>
                <td>{{ pokemon.imageUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pokemon_index') }}">back to list</a>

    <a href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">edit</a>

    {{ include('pokemon/_delete_form.html.twig') }}
{% endblock %}
